<h3>Users who write about: <%= @parameter %></h3>

<% @results.each do |result| %>
  <% if !current_user.friends.include?(result) %>
    <p>
      <%= link_to result.name, result %> knows <% mutual_friends(result).each do |r|%>
        <% if current_user.friends.include?(r) %>
          <%= link_to r.name, r %>
        <% end %>
      <% end %>
    </p>
  <% end %>
<% end %>