<h3>Users who write about: <%= @parameter %></h3>

<% @results.each do |result| %>
  <% if !current_user.friends.include?(result) %>
    <p>
      <%= result.name %> knows <% mutual_friends(result).each do |r|%>
        <%= r.name%>
      <% end %>
    </p>
  <% end %>
<% end %>